* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Palatino Linotype";
}

body {
	background: beige;
}

#landing {
	padding-right: 5vw;
	padding-bottom: 2vw;
	padding-top: 0vw;
	text-align: right;
	border: 1px black solid;
	background-color: palegreen;
}

h1 {
	font-size: 100px;
}

h2 {
	font-size: 25px;
}

a {
	color: black;
}

nav {
    padding: 8px;
    text-align: center;
    background-color: beige;
    border: 1px black solid;
}

#movies {
	text-align: center;
	padding: 30px;
	border: 1px black solid;
}

.card-img {
	height: 300px;
	width: 200px;
	margin-top: 25px;
	margin-left: 25px;
	margin-right: 25px;
	border-radius: 50px;
}

.card {
    display: inline-block;
}

footer {
	text-align: center;
	padding: 10px;
	background-color: forestgreen;
	border: 1px black solid;
}